#jb-container {
  width: 1230px;
  margin: 0px auto;
}
#jb-header {
  margin-bottom: 20px;
  border: 3px solid gray;
  background-color : lightgray;
  font-family: 'Gamja Flower', cursive;
}
#jb-list1 {
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 3px solid gray;
  background-color : lightgray;
  font-family: 'Gamja Flower', cursive;
  font-size: 22px;
}
#jb-list2 {
  width: 760px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  height: 70px;
  border: 3px solid gray;
  background-color : lightgray;
  font-family: 'Gamja Flower', cursive;
}
#jb-content {
  width: 760px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  height: 620px;
  border: 3px solid gray;
  background-color : lightgray;
}
#jb-footer {
  clear: both;
  padding-right: 20px;
  border: 3px solid gray;
  text-align: right;
  background-color : lightgray;
}



@media only screen and (max-width: 1400px){
  body{
    position: absolute;  /*위치 고정*/
    width : 1400px;
    height: 100%;

  }
}

body{
  margin:0;
  background : url(img/background.png);
  min-height: 100%;
  min-width: 100%;
}
a {
  color:black;
  text-decoration: none;
}
a:hover {color:white}   /* hover은 커서 올려놓았을 때 */
ul{
  list-style:none;
  margin : 0;
}
li{
  padding : 15px;
  padding-bottom: 20px;
}
h1{
  font-size : 45px;
  text-align:center;
  margin: 0;
  padding: 50px;
}
th, td{
  padding-right: 50px;
  padding-top : 12px;
  font-size : 20px;
  font-family: 'Gamja Flower', cursive;
}
.IndexList{
float: left;/*가로로 정렬*/
list-style:none;/*li태그의 점 없애기*/
font-size: 30px;
padding-left: 45px;
padding-right: 45px;
}

#GameList{
  float: left;
  width : 350px;
}
.embed-container {
position: relative;
width: 850px;
height: 680px;
overflow: hidden;
padding - top : 50px;
}
.embed-container iframe {
position: absolute;
width: 90%;
height: 90%;
}
.tablepd{
  width : 830px;
}
 #map {
        height: 125px;
        width: 500px;
}
.font1{
  font-size: 30px;
  color: #19070B;
  padding-left: 20px;
}
.evaluation_width{
height: 100%;
padding-top: 50px;
}
